
<!DOCTYPE html>

<html lang="en">

<head>
	<title>nodeFeed</title>

	<link rel="stylesheet" type="text/css" href="/main.css">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

	<script type="text/javascript" src="http://cdn.socket.io/stable/socket.io.js"></script>

	<script type="text/javascript" src="/static/feed.js"></script>
</head>

<body>
	<h1>Socket Quilt</h1>
	<div id="colors">
	{% for color in colors %}
		<div style="background-color: {{ color.color }};">{{ color.city }}, {{ color.state }}</div>
	{% endfor %}
	</div>
</body>

</html>
